* {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: pink solid 3px; 

}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.card-header button {
  display: inline-flex;
  background-color: transparent;
  position: absolute;
  right: 41%;
  top: 5%;
  border: none;


}

.card-img {
  height: 250px;
  width: 250px;
  background-size: contain;
}